

<div class="display-4 text-center">Count: {{ count | async }}</div>


<hr>
<div class="fluid">
<button class="btn btn-primary" (click)="increment()">Increment</button>

<button class="btn btn-secondary" (click)="decrement()">Decrement</button>

<button class="btn btn-primary" (click)="upVote()">Upvote</button>

<button class="btn btn-secondary" (click)="downVote()">Downvote</button>

<button class="btn btn-primary" (click)="reset()">Reset Counter</button>

<button class="btn btn-warning" (click)="storeData()">Store</button>

</div>

<hr>

<div class="display-5 ">Storage: {{storedValue}} </div>